{% extends "simple_app/base.html" %}
{% block content %}
    <div class="row" id="{{ teacher.id }}">
        <div class="col rounded" >
            <div id="alert_placeholder">
            </div>
                <article class="media content-section rounded">
                    <img class="rounded-circle article-img" src="{{ teacher.image.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h1> Преподаватель {{ teacher.surname }}
                            {{ teacher.name }}
                            {{ teacher.patronymic }}</h1>
                        </div>
                    </div>
                </article>

        </div>
        <div>

        </div>
    </div>
{% endblock content %}
